body {
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(to right, #a6e4d9, #aab7ec);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-card {
    background:lightgrey;
    width: 350px;
    padding: 25px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 4px solid #031613;
    margin-bottom: 15px;
}

h1 {
    margin: 10px 0 5px;
    color:rgb(190, 25, 34);
}

h3 {
    margin: 0;
    color:rgb(50, 12, 219);
}
h2{
    color: blueviolet;
}

p {
    font-size: 14px;
    color:rgb(2, 41, 2);
    margin: 15px 0;
    font-size: medium;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #74ebd5;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #064780;
}
